<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Ballot Submission</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"> </meta>
        <link rel="stylesheet" th:href="@{/css/lottery_pages_style.css}"/>
    </head>
    <body>
        <form action="#" th:action="@{submit}" th:object="${ballotdto}" method="post">
            <div class="container">
                <h1>Submit Ballot</h1>
                <p>Please enter your email to submit a ballot.</p>
                <label><b>Email</b></label>
                <input type="text" th:field="*{email}" placeholder="Enter email"></input>

                <button type="submit" class="registerbtn">Submit Ballot</button>
            </div>
        </form> 
    </body>
</html>
