<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Check Winning Ballots</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"> </meta>
        <link rel="stylesheet" th:href="@{/css/lottery_pages_style.css}"/>
    </head>
    <body>
        <form action="/ballot/winners">
            <div class="container">
                <h1>Check Winning Ballots</h1>
                <p>Please select date to check winning ballots.</p>
                <label><b>Enter date</b></label>
                <input type="date" name="date" pattern="\d{4}-\d{2}-\d{2}"/>
                <button type="submit" class="registerbtn">Go</button>
            </div>
        </form>
    </body>
</html>
